.red_text{
    background-size: cover;
}
  li{
  text-align: right;
  display: inline-block;
  margin-left: 60px;
  color: #fff;
  font-size: 25px;
}
.text{
    padding: 50px;
    padding-top: 200px;
}

img{
    width: 300px;
    height: 300px;
}
.grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap:8em;
   row-gap: 1em;
   margin: 4em;
}
a{
    color: #fff;
    text-decoration: none;
}

a:active{
    font-weight: bold;
}
header{
    display: flex;
}
